{% extends "layouts/app.twig" %}
{% import 'macros/base.twig' as m %}

{% block title %}{{ __('angeltypes.about') }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ block('title') }}</h1>

        <div class="col-md-12">
            <div class="btn-group mb-3" role="group">
                {% if is_user() %}
                    <a href="{{ url('/angeltypes') }}" class="btn btn-secondary back">
                        {{ __('angeltypes.angeltypes') }}
                    </a>
                {% else %}
                    {% if has_permission_to('register') and config('registration_enabled') %}
                        <a href="{{ url('/register') }}" class="btn btn-secondary back">
                            {{ __('registration.register') }}
                        </a>
                    {% endif %}
                    <a href="{{ url('/login') }}" class="btn btn-secondary back">
                        {{ __('login.login') }}
                    </a>
                {% endif %}

                {% set footerItems = config('footer_items') %}
                {% if footerItems.FAQ is defined %}
                    {% set url = footerItems.FAQ %}
                    {% if footerItems.FAQ starts with '/' %}
                        {% set url = url(footerItems.FAQ) %}
                    {% endif %}
                    {% apply enkode_emails %}
                        <a href="{{ url }}" class="btn btn-primary">{{ __('faq.faq') }}</a>
                    {% endapply %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-12">
            <p>{{ __('angeltypes.about.text') }}</p>
        </div>

        <div class="accordion" id="accordion_angeltype_about">

            {% for group,groupitems in angeltypes %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ group | e('html_attr') }}" aria-expanded="true" aria-controls="collapse_' . $group . '">
                        {{ group }}
                    </button>
                </h2>
                <div id="collapse_{{ group | e('html_attr') }}" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            {% for angeltype in groupitems %}
                                <div class="col-md-6 col-xxl-4">
                                    <div class="card border-info {{ m.type_bg_class() }} mb-3">

                                        <h4 class="card-header bg-info" style="height: 48px">
                                            {{ angeltype.name }}

                                            {% if is_user() %}
                                                <a href="{{ url('angeltypes', {'action': 'view', 'angeltype_id': angeltype.data.id}) }}"
                                                    class="btn btn-secondary btn-sm float-end">
                                                    {{ m.icon('arrow-right') }}
                                                </a>
                                            {% endif %}

                                            {% if angeltype.data.restricted %}
                                                <button type="button" class="btn btn-info btn-sm float-end"
                                                    data-bs-toggle="popover" data-bs-title="{{ angeltype.name | e('html_attr') }}"
                                                    data-bs-content="{{ __('angeltypes.restricted.hint') | e('html_attr') }}"
                                                >
                                                    {{ m.icon('info-circle-fill') }}
                                                </button>
                                            {% endif %}
                                        </h4>

                                        <div class="card-body row">

                                            <div class="card-text">
                                                {{ angeltype.data.description | md }}
                                            </div>

                                            {% if angeltype.data.hasContactInfo() %}
                                                <dl class="row card-text">
                                                    {% for type, info in {
                                                        'contact_name': {'name': __('angeltypes.name')},
                                                        'contact_dect': {'name': __('angeltypes.dect'), 'url': 'tel'},
                                                        'contact_email': {'name': __('angeltypes.email'), 'url': 'email'},
                                                    } %}
                                                        {% if angeltype.data[type] and (type != 'contact_dect' or config('enable_dect')) %}

                                                            <dt class="col-sm-3">{{ info.name }}</dt>

                                                            <dd class="col-sm-9">
                                                                {% if info.url is defined %}
                                                                    {% apply enkode_emails %}
                                                                        <a href="{{ info['url'] }}:{{ angeltype.data[type] }}">
                                                                            {{ angeltype.data[type] }}
                                                                        </a>
                                                                    {% endapply %}
                                                                {% else %}
                                                                    {{ angeltype.data[type] }}
                                                                {% endif %}
                                                            </dd>

                                                        {% endif %}
                                                    {% endfor %}
                                                </dl>
                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}
